:root {
  --text:#FFFFFF;
  --highlight:#63c6b0;
  --titlesize:32px;
  --headingsize:18px;
  --parasize:18px;
  --c_red:#751C34;
  --c_bg:#FFE6A7;
  --c_blue:#A491C5;
  --c_white:#FFFFFF;
  --c_black:#0E0A11;
  --c_darkred:#441522;
  background-color: var(--c_bg);
color:var(--c_white);
}
body {
  margin: 0;
  padding: 0;
}
.title {
  display:inline-block;
  position: relative;
  left: 0px;
  height: 40px;
  width: 100%;
  text-align: center;
  margin-top:0%;
  font-size:var(--titlesize);
  color:var(--c_darkred);
  font-weight:900;
  animation: movein 3s;
  transition: color 300ms;
}

nav {
    position: relative;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    margin-top:2%;
}
nav ul li{
    margin: 0;
    padding: 20px 10px;
    display: inline-block;
    list-style: none;
}
nav ul li a{
color:#19070C;
text-decoration:underline 2.5px var(--c_bg);
  text-underline-offset: 8px;
 transition: text-decoration-color 300ms, text-underline-offset 300ms, color 300ms;
  font-size:var(--headingsize);
  font-family:'Raleway','Helvetica Neue','Arial',sans-serif;
  font-weight:600;
}
nav ul li a:hover {
text-decoration-color: var(--c_red);
  text-underline-offset: 0.3em;
  color:var(--c_red);
}

h1,p {
  color:#19070C;
  font-family:'Raleway','Helvetica Neue','Arial',sans-serif;
}
.containtext {
  margin-top:5%;
  margin-left:25%;
  margin-right:25%;
display:inline-block;
margin-bottom:4%;

}
.containtext h1 {
    font-size:16px;
    font-weight:600;
    text-align:center;
    animation: fade 3s;
}
.containtext p {
  color:#19070C;
  padding-top:10px;
    font-size:13px;
    font-weight:100;
      text-align:center;
      animation: fade 5s;
}

.gamehold {
  margin-top:4%;
  margin-left:2.25%;
  margin-bottom: 4%;
}

@keyframes fade {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes movein {
  0% {top: -100px;}
  100% {top:0px;}
}
